*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Noto Sans",sans-serif;
}
body{
    background: #f7f8f7;
}
header{
   /* top: 0;
   position: sticky;
   z-index: 999;
   
   background: #f7f8f7; */
    width: 100%;
    height: 14vh;
}
#web{
    font-size: 23px;
    padding: 2px 0;
}
header .navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 1.6rem;
padding-right:  1.6rem;
padding-top: 0.8rem;

}
.dropdown-list{
   
}
.dropdown-list:hover .dropdown{
display: block;
z-index: 2;
}
.dropdown{
display: none;
position: absolute;
height: auto;
width: 14%;
background-color: white;
top: 4rem;
border-radius: 14px;

}
.dropdown p{
    padding: 10px;
    
}
.dropdown a{
    font-size: 15px !important;
}
.dropdown a:hover{
    background-color: gainsboro;
}
.dropdown-font-size{

}
header .navbar .header-logo {

}

header .navbar .header-logo img{
    width: 8.75rem;
    height: 4.375rem;
}
.header-list{

}
.header-list ul{
    display: flex;
}
.header-list ul li{
   list-style: none;
   padding: 0px 3.125rem 0px 0px;
}
.header-list ul li a:hover{
    color: black;
    transition: ease-in 1s;
 }
.header-list ul li a{
    text-decoration: none;

    font-size: 1rem;
    color: #7c8698;
    font-weight: 400;
}

.header-web{
display: flex;
align-items: center;
}
.header-web .driver-btn1{
    padding-right: 2rem;
}
.header-web .driver-btn1 .header-btn1{
display: flex;
align-items: center;
border: none;
background-color:#e6e6e6;
padding: 5px 0px;
border-radius: 29px;
}
.header-web .driver-btn1 .header-btn1 span{
    background-color:#e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
}

.header-web p{
font-size: 1rem;
padding: 0px 12px 0px 5px;
background-color:#e6e6e6;
border-radius: 29px;
}
.header-web .driver-btn2 .header-btn2 a{
text-decoration: none;
color: black;
font-size: 16px;
}
.header-web .driver-btn2 .header-btn2{
    border: 2px solid #a7e92f;
    border-radius: 16px;
    color: #1b1b1c;
    width: 100%;
   
    background: none;
    white-space: nowrap;
    padding: 0 65px;
    height: 64px;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
    transition: background .3s ease,border .3s ease;
}
.header-web .driver-btn2 .header-btn2:hover{
    background-color: #a7e92f;
}


/* section 1 */

#section-1{
    width: 100%;
    margin-top: 1rem;
 
}
.box-section-main{
    width: 95%;
    margin: auto;
 }
 .section-1{
   
    width: 100%;
    height: 30rem;
    border-radius: 48px;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 .section-11{
   
    width: 98%;
    height: 36rem;
   
    border-radius: 48px;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 next-button.next {
    right: 10px;
    display: none;
}
 .section-2{
    position: relative;
 }





  .carousel-cell {
    width: 100%; /* Set the width of each slide */
    margin-right: 10px; /* Optional: Adjust the margin between slides */
    background-color: #ececec; /* Optional: Set background color */
    display: flex;
    align-items: center;
    
}
.sect1-img{
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 50%,transparent ),url('https://indrive.com/_next/image/?url=%2Fassets%2Fimages%2Fcovers%2Fmobility.jpeg&w=3840&q=100');
    width: 100%;
    height: 600px;
    background-size: cover;
}
.sect1-img2{
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 50%,transparent ),url('https://indrive.com/_next/image/?url=%2Fassets%2Fimages%2Fcovers%2Fservices.jpeg&w=3840&q=100');
    width: 100%;
    height: 600px;
    background-size: cover;
}
.sect1-img3{
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 50%,transparent ),url('https://indrive.com/_next/image/?url=%2Fassets%2Fimages%2Fcovers%2Fnew_home_cover.jpg&w=1920&q=100');
    width: 100%;
    height: 600px;
    background-size: cover;
}
.carousel-cell img{
    width: 100%;
    height: 600px;
}
.carousel-cell h1{
    position: absolute;
    font-size: 50px;
    margin-bottom: 13rem;
    margin-left: 5rem;
    font-weight: 800;
    color: white;
}
.carousel-cell span{
  color: #a7e92f;
}

.carousel-cell-btn{
    position: absolute;
    font-size: 20px;
color: black;
    border-radius: 16px;
    border: none;
    color: #1b1b1c;
    width: 100%;
   
    background: #a7e92f;
    white-space: nowrap;
   
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    
    max-width: 24%;
    padding: 20px 4px;
    margin-left: 5rem;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    margin-top: 3rem;
}

/* app */
.app{

}

/* app */

.flickity-enabled.is-draggable .flickity-viewport{
    border-radius: 45px;
}
.flickity-prev-next-button.previous{
display: none;
}
.flickity-prev-next-button.next{
    display: none;
}
 .section-1 .box-1{
   
  
 }

 .box-section1 .box-1{
    padding: 0rem 0rem 0rem 5rem;
 }
 .box-section1{
    display: flex;
    position: absolute;
    margin-top: 4rem;
    z-index: 1;
 }
 .box-section1 .box-1 button{
    font-size: 1rem;
    border: none;
    position: absolute;
    background: transparent;
    color: #cfd7e6;
    margin-left: 7px;
    
}
.bx-1{
margin: 0px 6px;
}
.bx-2{
    margin: 0px 6px;
}
.bx-3{
    margin: 0px 6px;
}
.box-section1 .box-1 button .sect1-btn{

}
.sect1-btn{
    height: 3px;
    width: 30%;
    background-color:#7c8698;
    position: absolute;
    margin-top: 1.7rem;
    /* margin-right: 29px; */
    margin-left: -10px;
    border-radius: 64px;
   
}
.inner-btn-1{
    height: 100%;
    animation-name:button;
    background-color: #f7f8f7;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 49px

    
}
.inner-btn-2{
    height: 100%;
    animation-name:button;
    background-color: #f7f8f7;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    

}
.inner-btn-3{
    height: 100%;
    animation-name:button;
    background-color: #f7f8f7;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   

   
}
@keyframes button{
    0%{
        width: 0%;
        
    }25%{
        width: 25%;
    }50%{
        width: 50%;
    }75%{
        width: 75%;
    }100%{
        width: 100%;
        
       

    }

}
/* section-2 */
#section-2{
margin-left: 2rem;
margin-top: 5rem;
margin-right: 2rem;
}
.sec-2-head{
    display: flex;
}
.sec-2-text{
    font-size:3.5rem;
    line-height: 4rem;
    font-weight: 600;
    z-index: 1;
    width: 100%;
    max-width: 64.063rem;
}
.sec-2-img{
position: absolute;
margin-left: 38rem;
margin-top: 1rem;
}
.sec-2-img img{
   height: 10rem;
    }
   
    .section-2-box{
display: flex;
justify-content: space-around;
margin-top: 2.5rem;
    }
    .section-2-box .sec2-box1{
        border-top: 0.125rem solid #a7e92f;
        width: 26rem;
        
        
    }
    .section-2-box .sec2-box1 .sec2-bx{
        font-size: 4.375rem;
        font-weight: 600;
        margin-top: 1rem
    }
    .section-2-box .sec2-box1 p{
        font-size: 1.25rem;
        margin-top: 1rem
    }
    /* section-3 */
   #section-3{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
   }
   .sec-3-head{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
background-color: white;
border-radius: 48px;
padding-bottom: 1rem;
   }
   .sec-3-head .sec-3-text{
    margin-left: 3rem;
    width: 100%;
   }
   .sec-3-head .sec-3-text h2{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: normal;
    color: #323942;
   }
   .sec-3-head .sec-3-text p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #323942;
    line-height:1.688rem;
   }
   .sec-3-head .sec-3-text a{
    font-size: 1.25rem;
    font-weight: 400;
    color: #4087e1;
    
   }
   .sec3-img{
    width: 100%;
   }
   .sec3-img img{
min-height: 100%;
min-width: 100%;
max-width:100%;
max-height: 100%;


   }
   /* section-4 */
   #section-4{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    
   }
.sec-4-head{
    width: 100%;
    background-color: #272c33;
    padding: 2rem;
    border-radius: 48px;
}
.sec-4-img{
position: relative;
}
.sec-4-img img{
    width: 100%;
    border-radius: 2.25rem;
}
.sec-4-btn{
    position: absolute;
    top: 0px;
    margin: 17rem 2rem;
}
.sec-4-btn button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: #fff;
}
.sec-4-btn button a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #323942;

}
.sec-4-btn h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem;
}
.sec-4-heading p{
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.688rem;
    margin-top: 1rem;
}
.sec-4-box{
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   margin-top: 1rem;
}
.sec-4-box .sec4-box1{
    background:#323942 ; 
    padding: 2.375rem;
    width: 24%;
    border-radius: 20px;
}
.sec-4-box .sec4-box1:hover{
    background:#404852 ; 
   
}
.sec-4-box .sec4-box1 img{

}
.sec-4-box .sec4-box1 h2{
    font-size: 24px;
    margin-top: 0.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #fff;
}
.sec-4-box .sec4-box1 p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #fff;
    margin-top: 0.2rem;
    margin-bottom: 1rem;

}
.sec-4-box .sec4-box1 a{
text-decoration: none;
font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.688rem;
    color: #7ebefc;
   
}

/* section-5 */
#section-5{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.section-5-head{

}
.section-5-head h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.section5-box{
display: flex;
justify-content: space-between;
gap: 1.563rem;
margin-top: 5rem;
}
.section5-box .section5-box1{
    background-color: white;
    padding: 2.288rem;
    border-radius: 48px;
    width: 33%;
}
.section5-box .section5-box1 img{
    
}
.section5-box .section5-box1 h2{
    font-size: 1.25rem;
    margin-top: 1rem;
}
.section5-box .section5-box1 p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.section-5-bottom{
margin-top: 5rem;
background-color: white;
border-radius: 48px;
}
.section-5-bottom .section-5-mobile-app{
    display: flex;
    justify-content: space-between;
    
    
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text{
    padding: 48px;
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text h2{
    font-size:56px;
    color: #323942;
    margin-top: 2rem;
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text p{
    max-width: 616px;
    font-size: 20px;
    font-weight: 400;
    color: #323942;
    line-height: 27px;
    margin-top: 1.5rem;
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text .section-5-mobile-app-logo{
    display: flex;
    gap: 14px;
   
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text .section-5-mobile-app-logo span img{
    
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-text .section-5-mobile-app-logo .section-5-star{
    display: flex;

}

.logo-5{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}
.section-5-star-text{
    color:#323942 ;
    font-weight: 600;
}
.carousel-cell-btn-2{
   border-radius: 16px;
    border: none;
    color: #1b1b1c;
    width: 100%;
   background: #a7e92f;
    white-space: nowrap;
   cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
     max-width: 100%;
    padding: 20px 4px;
    font-size: 20px;
color: black;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    margin-top: 3rem;
}
#carousel-underline{
    text-decoration: none;
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-img {
    width: 443px;
    height: 349px
}
.section-5-bottom .section-5-mobile-app .section-5-mobile-app-img img{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 97px;
    
}
/* section-6 */
#section-6{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    
   }
.sec-6-head{
    width: 100%;
    background-color: #272c33;
    padding: 2rem;
    border-radius: 48px;
}
.sec-6-img{
position: relative;
}
.sec-6-img img{
    width: 100%;
    border-radius: 2.25rem;
}
.sec-6-btn{
    position: absolute;
    top: 0px;
    margin: 17rem 2rem;
}
.sec-6-btn button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: #fff;
}
.sec-6-btn button a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #323942;

}
.sec-6-btn h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem;
}

.sec-6-box{
   
   display: flex;
   justify-content: space-between;
  
   margin-top: 1rem;
   
}
.sec-6-box p{
    font-size: 1.25rem;
    color: #fff;
    max-width: 430px;
    
    
}
.sec-6-box .sec6-box1{
    background:#323942 ; 
    padding: 2.375rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.sec-6-box .sec6-box1:hover{
    background:#404852 ; 
   
}
.sec-6-box .sec6-box1 img{

}
.sec-6-box .sec6-box1 h2{
    font-size: 24px;
    margin-top: 0.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #fff;
}
.sec-6-box .sec6-box1 p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #fff;
    margin-top: 0.2rem;
    margin-bottom: 1rem;

}
.sec-6-box .sec6-box1 a{
text-decoration: none;
font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.688rem;
    color: #7ebefc;
   
}
/* section-7 */
#section-7{
    margin-top: 5rem;
    margin-left:2rem ;
    margin-right: 2rem;

}

/* section-8 */
#section-8{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    
   }
.sec-8-head{
    width: 100%;
    background-color: #272c33;
    padding: 2rem;
    border-radius: 48px;
}
.sec-8-img{
position: relative;
}
.sec-8-img img{
    width: 100%;
    border-radius: 2.25rem;
}
.sec-8-btn{
    position: absolute;
    top: 0px;
    margin: 17rem 2rem;
}
.sec-8-btn button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: #fff;
}
.sec-8-btn button a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #323942;

}
.sec-8-btn h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem;
}
.sec-8-heading p{
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.688rem;
    margin-top: 1rem;
}
.sec-8-box{
   
   display: flex;
   justify-content: space-between;
   
   gap: 1rem;
   margin-top: 1rem;
}
.sec-8-box .sec8-box1{
    background:#323942 ; 
    padding: 2.375rem;
    width: 24%;
    border-radius: 20px;
    padding-bottom: 4rem;
}
.sec-8-box .sec8-box1:hover{
    background:#404852 ; 
   
}
.sec-8-box .sec8-box1 img{
max-width: 100%;
}
.sec-8-box .sec8-box1 h2{
    font-size: 24px;
    margin-top: 0.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #fff;
}
.sec-8-box .sec8-box1 p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #fff;
    margin-top: 0.2rem;
    margin-bottom: 1rem;

}
.sec-8-box .sec8-box1 a{
text-decoration: none;
font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.688rem;
    color: #7ebefc;
   
}
.section-8-btn{
    border-radius: 16px;
    border: none;
    height: 56px;
   
    width: 158px;
    padding: 14px;
    background: #a7e92f;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    margin-top: 32px;
    text-align: center;
    font-size: 20px;
   
}
.section-8-btn a{
    color: #1b1b1c;
    text-decoration: none;
}
/* section-9 */
#section-9{
margin-top: 5rem;
margin-left: 2rem;
margin-right: 2rem;
}
.section-9-head{
display: flex;
position: relative;
}
.section-9-heading{
    max-width: 950px;
    z-index: 1;
    
}
.section-9-heading button{
    border-radius: 16px;
    border: none;
    color: #1b1b1c;
    background: #a7e92f;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    padding: 18px 50px;
    margin-top: 1rem;
    
   
}
.section-9-heading button a{
    font-size: 20px;
    text-decoration: none;
    color: #1b1b1c;
}
.section-9-heading h1{
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
}
.section-9-img{
position: absolute;
max-width: 100%;
    max-height: 100%;
    margin-left: 38rem;
    margin-top: 0.6rem
}
/* footer */
footer{
    background-color: #1b1b1c;
    margin-top: 5rem;
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
    height: auto;
    padding-bottom: 2rem;
}
.head-footer{
    margin-left:2rem ;
    margin-right: 2rem;
}

.footer-1{

display: flex;
padding-top: 4rem;
justify-content: space-between;

}
.footer-block-1{

}
.footer-block-1 img{

}
.footer-block-2{
    display: flex;
  
    justify-content: space-around;
}

.footer-list-1{
    padding: 0px 30px;
}
.footer-list-1 div{
    
}
.footer-list-1 div h2{
    color: #fff;
    font-size: 16px;
    margin-bottom: 2rem;
}
.footer-list-1 div p{
    font-size: 14px;
    padding: 20px 0px;
}
.footer-list-1 div p a{
    text-decoration: none;
    color: #fff;
}
.driver-btn3{
    padding-right: 2rem;
}
 .driver-btn3 .header-btn3{
display: flex;
align-items: center;
border: none;
background-color:#2d2d2e;
padding: 5px 0px;
border-radius: 29px;
}
 .driver-btn3 .header-btn3 span{
    background-color:#2d2d2e;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
}
#web2{
    color: white;
    font-size: 23px;
    padding: 2px 0;
}

.driver-btn3 p{
font-size: 1rem;
padding: 0px 12px 0px 5px;
background-color:#2d2d2e;
border-radius: 29px;
color: white;
}

.footer-2{
margin-top: 5rem;
}
.footer-2 .footer-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-2 .footer-box-2 .footer2-block-left{
    width: 33%;
}
.footer-2 .footer-box-2 .footer2-block-left img{
margin-bottom: 2rem;
}
.footer-2 .footer-box-2 .footer2-block-left p{
    color: #767677!important;
    font-size: 14px;
    margin-bottom: 2rem;
    
}
.footer-store-main{
display: flex;
}
.footer-store{

}
.footer-store img{
    width: 90%;
    border: 1px solid wheat;
    border-radius: 7px;
   
   

}
#h2-none{
    color: #1b1b1c;
}
#copyright{
    color: #767677!important;
    font-size: 14px;
}
.footer2-block-right{
    padding-top: 5rem;
    padding-right: 3rem;
}
.footer2-block-right img{
    
}


/* Appp */


.scanner-mobile-app-logo{
    display: flex;
   
    gap: 14px;
}

 .scanner-5-mobile-app-logo span img{
    
}
 .scanner-5-mobile-app-logo .section-5-star{
    display: flex;

}
.scanner-5-star{
    display:flex;
}

.scanner-5{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}
.scanner-5-star-text{
    color:#323942 ;
    font-weight: 600;
}
.scanner-h1{
    font-size: 39px;
    font-weight: 600;
    color: #323942;
    line-height: 64px;
    text-align: unset;
}
.scanner-p{
    font-size: 16px;
    color: #323942;
    line-height: 27px;
}
.scanner-box-1{
    width: 26rem;
}
.scanner-box-2{
   
}
.scanner-border{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
   width: 77%;
    max-height: 310px;
    border-radius: 48px;
    border: 11px solid #a7e92f;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.scanner-border-2{
    width: 83%;
    padding: 24px;
    margin: 26px 0 0;
    border: 1px solid #848e9c;
    border-radius: 32px;
}
.scanner-middle{
    
}
.app{
    
    width: 26rem;
    height: 35rem;
   
    background:white;
    padding: 26px;
    margin: auto;
    justify-content: space-between;
    border-radius: 22px;
    
}
#Mobile-scanner{
    display: none;
    position: absolute;
    margin: -36rem 54rem;
 }
 #cross-icon{
    cursor: pointer;
    position: absolute;
    margin-left: 17.4rem;
    font-size: 30px;
    color: #a7e92f;
    margin-top: -1rem;
 }
#qr{
    background-color: black;
    width: 100%;
    height: auto;
}
/* --extensions-background-alwayslight: #fff;
    --extensions-background-alwaysdark: #1c2024;
    --extensions-border-error: #d13d35;
    --extensions-text-and-icon-error: #d13d35;
    --border-disabled: #ebeced;
    --extensions-background-warning: #ffce51;
    --border-brand: #00ac3c;
    --text-and-icon-brand: #00ac3c;
    --extensions-text-and-icon-warning: #f90;
    --extensions-background-surface: #fff;
    --text-and-icon-disabled: #afb5c2;
    --extensions-text-and-icon-alwaysdark: #323942;
    --extensions-text-and-icon-alwayslight: #fff;
    --extensions-background-error: #d13d35;
    --text-and-icon-primary: #323942;
    --extensions-background-overlaylight: #fff;
    --text-and-icon-accent: #338ffc;
    --text-and-icon-oncolor: #fff;
    --extensions-background-overlaydark: #000;
    --text-and-icon-secondary: #848e9c;
    --background-primary: #fff;
    --extensions-background-inverseprimary: #323942;
    --background-brand: #00ac3c;
    --background-disabled: #fafafa;
    --extensions-background-lightaccent: #e8f7ff;
    --extensions-background-lighterror: #ffe9e8;
    --extensions-background-lightbrand: #defde1;
    --border-primary: #e0e2e6;
    --background-secondary: #f5f5f6;
    --extensions-border-accent: #338ffc;
    --background-accent: #338ffc;
    --statement-background-brandpressed: #00892e;
    --statement-text-and-icons-brandpressed: #00892e;
    --statement-border-brandpressed: #00892e;
    --statement-text-and-icons-errorpressed: #a53531;
    --statement-background-lightbrandpressed: #befcc6;
    --statement-background-warningpressed: #ffb423;
    --statement-border-primarypressed: #e0e2e6;
    --additional-shadow-shadowprimary: #1c2024;
    --statement-text-and-icons-secondarypressed: #bdc2ce;
    --statement-text-and-icons-primarypressed: #495563;
    --statement-background-accentpressed: #337bd6;
    --statement-text-and-icons-accentpressed: #337bd6;
    --statement-background-additional01pressed: #e55f12;
    --statement-border-accentpressed: #337bd6;
    --statement-border-errorpressed: #a53531;
    --statement-text-and-icons-oncolorpressed: #f5f5f6;
    --statement-background-primarypressed: #f5f5f6;
    --statement-background-errorpressed: #a53531;
    --statement-background-secondarypressed: #ebeced;
    --statement-text-and-icons-warningpressed: #d87b00;
    --additional-background-brandstatic: #00ac3c;
    --additional-background-additional01: #ff6500;
    --line-height-xs: 16px;
    --line-height-s: 20px;
    --line-height-m: 24px;
    --line-height-l: 28px;
    --line-height-xl: 32px;
    --line-height-xxl: 40px;
    --line-height-xxxl: 50px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-size-xxxl: 48px;
    --font-family-noto: "Noto Sans",sans-serif;
    --font-family-landing: Stolz,sans-serif;
     */