* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: #f7f8f7;
    scroll-behavior: smooth;
    align-items: center;
}



#web {
    font-size: 23px;
    padding: 2px 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 0.8rem;

}

header .navbar .header-logo {}

header .navbar .header-logo img {
    width: 8.75rem;
    height: 4.375rem;
}

.header-list {}

.header-list ul {
    display: flex;
}

.header-list ul li {
    list-style: none;
    padding: 0px 3.125rem 0px 0px;
}

.header-list ul li a:hover {
    color: black;
    transition: ease-in .1s;
}

.header-list ul li a {
    text-decoration: none;

    font-size: 1rem;
    color: #7c8698;
    font-weight: 400;
}

.header-web {
    display: flex;
    align-items: center;
}

.header-web .driver-btn1 {
    padding-right: 2rem;
}

.header-web .driver-btn1 .header-btn1 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #e6e6e6;
    padding: 5px 0px;
    border-radius: 29px;
}

.header-web .driver-btn1 .header-btn1 span {
    background-color: #e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
}

.header-web .driver-btn1 .header-btn1 span img {}

.header-web p {
    font-size: 1rem;
    padding: 0px 9px 0px 5px;
    background-color: #e6e6e6;
    border-radius: 29px;
}

.header-web .driver-btn2 {}

.header-web .driver-btn2 .header-btn2 {
    border: 2px solid #a7e92f;
    border-radius: 16px;
    color: #1b1b1c;
    width: 100%;
    font-size: 16px;
    background: none;
    white-space: nowrap;
    padding: 0 65px;
    height: 64px;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
    transition: background .3s ease, border .3s ease;
}

.header-web .driver-btn2 .header-btn2:hover {
    background-color: #a7e92f;
}

/*MAIN*/

main {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.image {
    background-image: url(./img/contacts_cover.webp);
    background-position: center;
    height: 70vh;
    width: 95%;
    border-radius: 3rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;

}

.name {
    display: flex;
    padding: 1rem;
    text-align: start;

}

.image h1 {
    padding: .5rem;
    font-size: 4rem;
    font-weight: 600;
    color: white;
}

.name span {
    color: #a7e92f;
}

.section1 {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.section1 h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.part1 {
    text-align: left;
}

.part1 p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.part1 button {
    display: flex;
    width: 21rem;
    height: 5.5rem;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #a7e92f;
}

.section2 {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
}

.team {
    display: flex;
    padding: relative;
}

.team span {
    width: 12%;
    height: 1rem;
    background-color: #a7e92f;
    margin-top: 3rem;

}

.team h2 {
    font-size: 3.5rem;
    font-weight: 400;
    position: absolute;
}

.section3 {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 18rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    padding: 2rem;
    text-align: left;
    justify-content: space-evenly;
}

.card p {
    font-size: 1.25rem;
    font-weight: 400;
}

.card a {
    text-decoration: none;
}

.section4 {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
}

.office {
    display: flex;
    flex-direction: column;
}

.office span {
    width: 8.5%;
    height: 1rem;
    background-color: #a7e92f;
    margin-top: 3rem;

}

.office h2 {
    font-size: 3.5rem;
    font-weight: 400;
    position: absolute;
}

.office p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5rem;
    text-wrap: wrap;
}

.view {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.photo {
    display: flex;

}

.photo img {
    border-radius: 2rem;
    border: none;
}

.section5 {
    background-color: #272c33;
    width: 90%;
    border: none;
    border-radius: 3rem;
    margin-top: 8rem;
    padding: 2rem;
}

.section5 h1 {
    font-size: 4rem;
    font-weight: 500;
    color: white;
}

.section5 span {
    color: #a7e92f
}

.section5 p {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    margin-top: 2.5rem 2rem;
}

.section5 a {
    display: flex;
    width: 13.75rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    background-color: #a7e92f;
    margin-top: 2rem;
    color: black;
}

/*Footer*/
footer{
    background-color: #1b1b1c;
    margin-inline: auto;
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
    width: 95%;
    padding-bottom: 2rem;
    margin-top: 7rem;
}
.head-footer{
    margin-left:2rem ;
    margin-right: 2rem;
}

.footer-1{

display: flex;
padding-top: 4rem;
justify-content: space-between;

}
.footer-block-1{

}
.footer-block-1 img{

}
.footer-block-2{
    display: flex;
  
    justify-content: space-around;
}

.footer-list-1{
    padding: 0px 30px;
}
.footer-list-1 div{
    
}
.footer-list-1 div h2{
    color: #fff;
    font-size: 16px;
    margin-bottom: 2rem;
}
.footer-list-1 div p{
    font-size: 14px;
    padding: 20px 0px;
}
.footer-list-1 div p a{
    text-decoration: none;
    color: #fff;
}
.driver-btn3{
    padding-right: 2rem;
}
 .driver-btn3 .header-btn3{
display: flex;
align-items: center;
border: none;
background-color:#2d2d2e;
padding: 5px 0px;
border-radius: 29px;
}
 .driver-btn3 .header-btn3 span{
    background-color:#2d2d2e;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
}
#web2{
    color: white;
    font-size: 23px;
    padding: 2px 0;
}

.driver-btn3 p{
font-size: 1rem;
padding: 0px 12px 0px 5px;
background-color:#2d2d2e;
border-radius: 29px;
color: white;
}

.footer-2{
margin-top: 5rem;
}
.footer-2 .footer-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-2 .footer-box-2 .footer2-block-left{
    width: 33%;
}
.footer-2 .footer-box-2 .footer2-block-left img{
margin-bottom: 2rem;
}
.footer-2 .footer-box-2 .footer2-block-left p{
    color: #767677!important;
    font-size: 14px;
    margin-bottom: 2rem;
    
}
.footer-store-main{
display: flex;
}
.footer-store{

}
.footer-store img{
    width: 90%;
    border: 1px solid wheat;
    border-radius: 7px;
   
   

}
#h2-none{
    color: #1b1b1c;
}
#copyright{
    color: #767677!important;
    font-size: 14px;
    margin-bottom: 2rem;
}
.footer2-block-right{
    padding-top: 5rem;
    padding-right: 3rem;
}
.footer2-block-right img{
    
}
.footer-3{
margin-top: 2rem;
}
.footer-3 ul{
    display: flex;
}
.footer-3 ul li{
  list-style: none;  
  padding: 0px 5px;
}
.footer-3 ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}


.footer-line-3{
    width: 100%;
    height: 1px;
    background-color: rgb(90, 88, 88);
}